.DS_Store
node_modules
/build
.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
myapp\.svelte-kit\ambient.d.ts
myapp\.svelte-kit\generated\server\internal.js
myapp\.svelte-kit\route_meta_data.json
myapp\.svelte-kit\types\src\routes\$types.d.ts
myapp\.svelte-kit\types\src\routes\accueil\$types.d.ts
myapp\.svelte-kit\types\src\routes\creationPub\$types.d.ts
myapp\.svelte-kit\types\src\routes\interfacePub\$types.d.ts
